{% extends "layout.html" %}
{% block body %}
<div class=manageform>
    <form action="{{ url_for('add_zone') }}" method="post">
        <label for="zoneID">Zone ID:</label><input type="number" name="zoneID" min="1" required><br>
        <label for="zoneName">Zone Name:</label><input type="text" name="zoneName" required><br>
        <label for=zoneType">Zone Type:</label>
    	<select name="zoneType">
		    <option value="0">Door</option>
	    	<option value="1">Motion</option>
    	</select>
	    <input type="submit" value="Add">
    </form>
    <form action="{{ url_for('zone_manager') }}">
    	<input type="submit" value="Cancel"/>
    </form>
</div>
{% endblock %}
